@using Common.Static;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ICollection<Common.ViewModels.Parameters.IzbRajonParamViewModel>

@{
    ViewData["Title"] = "CommonIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/lica-register.css" />
<link rel="stylesheet" href="~/css/lica.css" />

<div class="row mb-2 text-center">
    <h3 style="width: 100%">Настройки за изборен район</h3>
</div>


<table class="table table-bordered table-lica-register col-md-12" id="lica-table">
    <thead>
        <tr>
            <th style="text-align:center;">Район</th>
            <th style="text-align:center;">Наименование</th>
            <th style="text-align:center;  width:200px;">Мин. брой членове</th>
            <th style="text-align:center;  width:200px;">Макс. брой членове</th>
            <th style="text-align: center; width:150px;">Активен</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO tablicata wnizbraion (NKOD,NIME,MIN_BROI_SIK,MAX_BROI_SIK,STATUS)-->
        @foreach (var parameter in Model)
        {
            <tr>
                <td>
                    @parameter.Nkod
                </td>
                <td>
                    @parameter.NIme
                </td>
                <td>
                    @parameter.MinMembers
                </td>
                <td>
                    @parameter.MaxMembers
                </td>
                <td>
                    @(parameter.Status == 1 ? "Да" : "Не")
                </td>
                <td class="lica-register-td-icon">
                    <button onclick="UpdateIzbRajonParametersEditModal(this, '@parameter.Nkod')"
                            class="btn btn-outline-secondary lica-btn-with-icon-table lica-right-input-icon-table-btn"
                            type="button">
                        <img src="~/img/lica-images/Edit-128.png"
                             class="lica-right-input-icon-table lica-right-input-icon-table-edit" />
                    </button>
                </td>
            </tr>
        }

        @if (Model.Count < PaginationInfo.PageSize)
        {
            for (var i = 0; i < PaginationInfo.PageSize - Model.Count; i++)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>

</table>

<!-- Edit Modal -->
<div class="modal fade" id="parameters-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="parameters-edit-header">Редактиране</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times; Изход</span>
                </button>
            </div>
            <form asp-area="Parameters" asp-controller="Home" asp-action="EditIzbRajonParameter" id="parameters-edit-form" class="form-horizontal">
                <div class="modal-body text-center" id="parameters-edit-modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
                    <button type="submit" class="btn btn-primary">Редактиране</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/parameters-crud.js"></script>
    <script src="~/js/parameters-izbrajon-form-ajax.js"></script>
}