@model List<Common.ViewModels.Spravki.ZaetiPoziciiSpravkaViewModel>

@using Microsoft.AspNetCore.Identity
@using Common.ViewModels.User
@inject UserManager<SSOUserIdentity> UserManager
@inject Services.Interfaces.User.IUserServices UserServices
@inject Services.Interfaces.Izbori.IIzboriServices IzboriServices


@{var groups = Model.GroupBy(s => s.NmIzbRajon).ToList();}



<link rel="stylesheet" href="~/lib/sweet-alert/sweetalert2.min.css">
<link rel="stylesheet" href="~/css/spravka-print.css" />
<link rel="stylesheet" href="~/css/spravki.css" />

<div id="wrapper">
    <div style=" margin-left: 5px;position:fixed; width:110px;">
        <button class="prnbtn"
                id="printbtn"
                type="button"
                onclick="printpage()">
            <img src="~/img/spravki-images/Print-128.png"
                 class="nav-img"
                 style="height:32px;">
            <br />
            Печат
        </button>

        <button class="prnbtn"
                id="closebtn"
                type="button"
                onclick="closepage();">
            <img src="~/img/navbar-images/logout-128.png"
                 class="nav-img"
                 style="height:32px;">
            <br />
            Изход
        </button>
    </div>

    <div class="container">
        <div>
            <table style="width:100%;">
                <tbody>
                    <tr style="height:30px">
                        <td style="text-align: left;">
                            <p>Избори: <strong>@IzboriServices.GetIzborDescription()</strong></p>
                        </td>
                        <td style="text-align: right;">
                            <p>
                                Отпечатано на:
                                <script>document.write(new Date().toLocaleString());</script>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td style="text-align: left;">
                            <div>@IzboriServices.GetCode("56")</div>
                            <div>@IzboriServices.GetCode("57")</div>
                        </td>
                        <td style="text-align: right;">
                            <p>Изготвил: @UserServices.GetIdentityUserById(UserManager.GetUserId(User)).Names</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>

            <h3 style="text-align: center;">Заети позиции по партии и квоти</h3>

            @for (var i = 0; i < groups.Count; i++)
            {

                var toa = Model.Where(x => x.NmIzbRajon == groups[i].ElementAt(0).NmIzbRajon).GroupBy(x => x.NmRajon).ToList();

                <p>@groups[i].ElementAt(0).NmIzbRajon</p>

                @for (var j = 0; j < toa.Count; j++)
                {
                    <p>@toa[j].ElementAt(0).NmRajon</p>

                    <table style="height: 49px; width: 100%;" id="spravka">
                        <tbody>
                            <tr style="height: 31.75px;">
                                <th style="width: 16%; height: 31.75px; text-align: center;"><strong>&nbsp;Политическа сила</strong></th>
                                <th style="width: 10%; text-align: center; height: 31.75px;"><strong>Квота Общо</strong></th>
                                <th style="width: 17.1396%; text-align: center; height: 31.75px;"><strong>Регистрирани Общо</strong></th>
                                <th style="width: 10%; text-align: center; height: 31.75px;"><strong>Разлика Общо</strong></th>
                                <th style="width: 11%; text-align: center; height: 31.75px;"><strong>Квота Рък.длъж.</strong></th>
                                <th style="width: 17%; text-align: center; height: 31.75px;"><strong>Регистрирани Рък.длъж.</strong></th>
                                <th style="width: 10%; text-align: center; height: 31.75px;"><strong>Разлика Рък.длъж.</strong></th>
                            </tr>

                            @foreach (var data in toa[j])
                            {
                                <tr style="height: 28px;">
                                    <td style="width: 16%; height: 28px;">@data.WnSila</td>
                                    <td style="width: 10%; height: 28px; text-align: right;">@data.Col1</td>
                                    <td style="width: 17.1396%; height: 28px; text-align: right;">@data.Col2</td>
                                    <td style="width: 10%; height: 28px; text-align: right;">@data.Col3</td>
                                    <td style="width: 11%; height: 28px; text-align: right;">@data.Col4</td>
                                    <td style="width: 17%; height: 28px; text-align: right;">@data.Col5</td>
                                    <td style="width: 10%; height: 28px; text-align: right;">@data.Col6</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                if (groups[i] != groups[groups.Count - 1])
                {
                    <p style="page-break-after: always;">&nbsp;</p>
                    <p style="page-break-before: always;">&nbsp;</p>
                }
            }
        </div>
    </div>
</div>



<script src="~/js/print.js"></script>
<script src="~/lib/sweet-alert/sweetalert2.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/bootstrap-select/js/bootstrap-select.js"></script>
