@using Microsoft.AspNetCore.Identity
@using Common.ViewModels.User
@using Newtonsoft.Json

@model List<Common.ViewModels.Spravki.SpisukNaSekciiteSpravkaViewModel>
@inject UserManager<SSOUserIdentity> UserManager
@inject Services.Interfaces.User.IUserServices UserServices
@inject Services.Interfaces.Izbori.IIzboriServices IzboriServices

@{
    var groups = Model.GroupBy(s => new { s.NmIzbRajon, s.NmRajon }).ToList();
    var filter = Model.ElementAt(0).filter;
}




<link rel="stylesheet" href="~/lib/sweet-alert/sweetalert2.min.css">
<link rel="stylesheet" href="~/css/spravka-print.css" />
<link rel="stylesheet" href="~/css/spravki.css" />

<div id="wrapper">
    <div style=" margin-left: 5px;position:fixed; width:110px;">
        <button class="prnbtn"
                id="printbtn"
                type="button"
                onclick="printpage()">
            <img src="~/img/spravki-images/Print-128.png"
                 class="nav-img"
                 style="height:32px;">
            <br />
            Печат
        </button>

        <button class="prnbtn"
                id="exportbtn"
                type="button"
                onclick="GenerateSpisykSekcii();">
            <img src="/img/navbar-images/ms-excel.png"
                 class="nav-img"
                 style="height:32px;">
            <br />
            Експорт
        </button>

        <button class="prnbtn"
                id="closebtn"
                type="button"
                onclick="closepage();">
            <img src="~/img/navbar-images/logout-128.png"
                 class="nav-img"
                 style="height:32px;">
            <br />
            Изход
        </button>
    </div>

    <div class="container">
        <div>
            <table style="width:100%;">
                <tbody>
                    <tr style="height:30px">
                        <td style="text-align: left;">
                            <p>Избори: <strong>@IzboriServices.GetIzborDescription()</strong></p>
                        </td>
                        <td style="text-align: right;">
                            <p>
                                Отпечатано на:
                                <script>document.write(new Date().toLocaleString());</script>
                            </p>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td style="text-align: left;">
                            <div>@IzboriServices.GetCode("56")</div>
                            <div>@IzboriServices.GetCode("57")</div>
                        </td>
                        <td style="text-align: right;">
                            <p>Изготвил: @UserServices.GetIdentityUserById(UserManager.GetUserId(User)).Names</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>
        </div>

        <h3 style="text-align: center;"><strong>Списък на адресите на избирателните секции</strong></h3>

        @for (var i = 0; i < groups.Count; i++)
        {
            <!--group section -->
            <div>
                <p>&nbsp;</p>
                <p>@groups[i].ElementAt(0).NmIzbRajon</p>
                @{var toa = groups[i].GroupBy(s => s.NmRajon).ToList();}

                @for (var j = 0; j < toa.Count; j++)
                {
                    <p>@toa[j].ElementAt(0).NmRajon</p>
                    <table id="spravka">
                        <thead>
                            <tr>
                                <th style="width: 20%;"><strong>Секция</strong></th>
                                <th style="width: 80%;"><strong>Адрес</strong></th>
                                <th style="width: 100px;"><strong>Вид</strong></th>
                                <th style="width: 150px;"><strong>Признак</strong></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var spisuk in toa[j])
                            {
                                <tr>
                                    <td style="text-align: left;">@spisuk.SikNumb</td>
                                    <td style="text-align: left;">
                                        <div>@spisuk.Address</div>
                                        <div>
                                            <a style="font-size: small;">@spisuk.descript </a>
                                        </div>
                                    </td>
                                    <td style="text-align: left;">@spisuk.Vid</td>
                                    <td style="text-align: left;">@spisuk.Priznak</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>

            if (groups[i] != groups[groups.Count - 1])
            {
                <p style="page-break-after: always;">&nbsp;</p>
                <p style="page-break-before: always;">&nbsp;</p>
            }
        }
    </div>
</div>


<script src="~/js/print.js"></script>
<script src="~/lib/sweet-alert/sweetalert2.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

<script>
    function GenerateSpisykSekcii() {

        $.ajax({
            type: "POST",
            url: '\GenerateSpisykSekcii',
            data: @Html.Raw(JsonConvert.SerializeObject(filter)),
            success: function (data) {
                console.log(data);
                window.location.href = "/Spravki/Home/DownloadReport/?fileName=" + data;
            }
        });
    }
</script>